* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .primary-color {
    color: #447bd4;
  }

  .fs-24 {
    font-size: 24px;
  }

  .fs-81 {
    font-size: calc(24px + 4vw);
  }

  .login {
    background-image: url('./img/Login\ page.svg');
    background-size: 100%;
  }

  .main-container {
    max-width: 479px;
    box-shadow: 25px 25px 0px #2a364c;
  }

  ::placeholder {
    color: #807171;
  }

  .input-style {
    width: 300px;
    height: 50px;
    background: #ffffff;
    border: 2px solid #447bd4;
    border-radius: 5px;
  }

  input#email {
    background-image: url('./img/account_circle_24px.svg');
    background-size: 8%;
    background-position: 250px 12px;
    background-repeat: no-repeat;
  }
  input#pass {
    background-image: url('./img/vpn_key_24px.svg');
    background-size: 8%;
    background-position: 250px 15px;
    background-repeat: no-repeat;
  }

  .primary-btn {
    width: 300px;
    height: 42px;
    background-color: #447bd4 !important;
    border: 1px solid #447bd4;
    border-radius: 20px !important;
  }

  .label-style {
    color: #447bd4;
    font-size: 24px;
    font-weight: 600;
  }

  @media (min-width: 768px) {
    .label-style {
      text-align: center !important;
      width: 70%;
    }
    .login {
      height: 100vh;
    }
  }
  @media (max-width: 768px) {
    .label-style {
      text-align: center !important;
      width: 100%;
    }
  }